include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include asa *.css
recursive-include asa *.csv
recursive-include asa *.html
recursive-include asa *.ico
recursive-include asa *.js
recursive-include asa *.json
recursive-include asa *.md
recursive-include asa *.png
recursive-include asa *.py
recursive-include asa *.svg
recursive-include asa *.txt
recursive-exclude asa *.pyc